
/* [FONT]
/////////////////////////////////////////////////////

*/
/*[ FONT ]
///////////////////////////////////////////////////////////
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Courgette-Regular;
  src: url('../fonts/courgette/Courgette-Regular.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../fonts/notosans/NotoSans-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:linear-gradient(to right, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/restaurant-seamless-pattern.jpg');
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat-Regular, sans-serif;
}
/*General styles*/
h1{font-size: 66px; font-weight: 600; line-height: 80px;}
h2{font-size: 48px; margin-bottom: 30px;}
h5{margin-bottom: 0px;}
.topmargin-lg{margin-top: 60px !important;}
.topmargin-sm{margin-top: 30px;}
.topmargin-xs{margin-top: 15px;}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea{
    border-color: #333333;
    height: 50px;
    border-radius: 0% !important;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea{
    border-color: #ce9909;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FEC630;
}
p {
	font-family: Montserrat;
    font-weight: 400;
}
.bg-primary{
    background-color: #FEC630;
}
.btn2{
    background-color: #f3f3f3 !important;
    color: #222222;
    border-radius: 10px;
    opacity: 0.9;
}
.btn2:hover {
    background-color: #FEC630 !important;
    color: white;
}

.general-content{
    background-color: #f3f3f3 ;
}
.title-content{
    background-color: #FEC630;
    color: #f3f3f3;
}
.btn-principal{
    background-color: #FEC630 !important;
    color:#333333 !important;
    transition: all 300ms;
}
.btn-principal:hover{
    background-color: #d1aa40 !important;
    color:#ffffff !important;
}
.btn-principal:focus,
.btn-principal:active {
    background-color: #c7a64c !important;
    border-color: #ce9909 !important; /*set the color you want here*/
}
.link-primario{
    color: #ce9909 !important;
}
.ab-c-m {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.even-larger-badge{
    font-size: 1.2em !important;
}
#pagination{
    border-radius: 0%;
}
#pagination .page-link{
    color: #333333;
}
#pagination .page-item.active .page-link{
    background-color: #FEC630;
    border-color: #FEC630;
}
.radius-small{
    border-radius: 0.25rem !important;
}

/*[ Nav Styles ]
///////////////////////////////////////////////////////////
*/
.navbar{
    border-radius: 0%;
    border-top: 10px solid #333333;
    height: 100px;
    background: rgba(234, 179, 16, 0.9);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar  a {
    color: #3d3d3d !important;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
}
.header-fixed .navbar > li > a {
    color: #222222;
  }
.navbar  a:hover {
    color: #f3f3f3 !important;
    transition: all 300ms;
}
.navbar-logo{
    background-color: #FEC630;
}
.dropdown-menu{
    border-radius: 0% !important;
}
.dropdown-content{
    color: #333333 !important;
}
.dropdown-content .dropdown-item{
    color: #333333 !important;
    transition: all 300ms;
}
.dropdown-content:hover{
    background-color: #333333 !important;

}
.dropdown-content:hover .dropdown-item{
    color: #f3f3f3 !important;
    background-color: #333333 !important;
    transition: all 300ms;
}
.dropdown-content-main{
    background-color: #FEC630 !important;
}
.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

/*[ Slider ]
///////////////////////////////////////////////////////////
*/
#presentation{
    background: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/IMG-PRESENTACION.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 500px;
    color: #ffff;
}
#presentation p{
    color:#ffff;
}
.content-center{
    max-width: 800px;
    margin: 0px auto 60px auto;
    text-align: center;
}
.lema{
    font-size: 48px;
    font-style: italic;
}
.logo-styles{
    font-family: 'Courgette';
}
/*[PRESENTATION]
////////////////////////////////////////////////////////////////////////*/

.tit2{
    color: #FEC630 !important;
}
/*[INTRO]
//////////////////////////////////////////////////////////////////////*/
.title_logo{
    font-family: Courgette, sans-serif !important;
}
.header-intro {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.hov-img-zoom {
    display: block;
    overflow: hidden;
}

/*[ Login Section ]
///////////////////////////////////////////////////////////
*/

.image-cover-height{
    height: 100vh !important;
}
.login-content{
    background-color: #f3f3f3;
    height: 100vh !important;
}
.login-card{
    top: 15%;
    /*height: 100%;*/
}
.header-login{
    background-color: #333333;
    color: #f3f3f3;
}

/*[ Product Section ]
///////////////////////////////////////////////////////////
*/
.product-container{
    box-shadow: 1px 1px 1px 1px #333333;
}
.select-section{
    padding: 20px;
    background-color: #333333;
    color: #f3f3f3;
}
.btn-bebidas{
    display: block;
    margin-top: -21px;
}
.badge-precio, .badge-categoria{
    font-size: 20px;
}
.product-card{
    transition: all 300ms;
}
.product-card:hover{
    transform: scale(1.1, 1.1);
}
.cover_img_product{
    overflow: hidden;
    max-height: 100px;
    min-height: 100px;
}
.bg-title-page {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
/*[ DRINK SECTION ]
///////////////////////////////////////////////////////////
*/
.drink-card{
    max-height: 240px;
}

/*[ PROFILE SECTION ]
///////////////////////////////////////////////////////////
*/
.profile-group{
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 400px;
}
.card-profile{
    border-radius: 20px;
}
.btn-group-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*[DETAIL PRODUCT]
////////////////////////////////////////////////////////////////////////////////////

*/
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }

  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }

  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }

  .card_product {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

  .checked, .price span {
    color: #ff9f1a; }

  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

  .product-title {
    margin-top: 0; }

  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }

  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }

  .add-to-cart, .like {
    background: #38c172;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #07853b;
      color: #fff; }

  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }

  .orange {
    background: #ff9f1a; }

  .green {
    background: #85ad00; }

  .blue {
    background: #0076ad; }

  .tooltip-inner {
    padding: 1.3em; }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }


/*[COMMENT SECTION
//////////////////////////////////////////////////////////////////////////////////]*/
.card_comment {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #eee;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0.25rem;
}

.card-body_comment {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card_comment .card-title_comment  {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    color: #f3f3f3;
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 0.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: #fff;
    background-color: #27a9e3;
    border-color: #27a9e3
}

.btn-cyan:hover {
    color: #fff;
    background-color: #1a93ca;
    border-color: #198bbe
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}

/*[ CART SECTION ]
///////////////////////////////////////////////////////////
*/
.cart_quantity{
    height: 25px !important;
}


/*[PRODUCT CARROUSELLE]

//////////////////////////////////////////////////////////////////////////////////////////////////////
*/
#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    background-attachment: fixed;

}
#myCarousel h4{
    font-size:50px;
    margin-bottom:15px;
    color:#FFF;
    line-height:100%;
    letter-spacing:0.5px;
    font-weight:600;
}
#myCarousel p{
    font-size:18px;
    margin-bottom:15px;
    color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#FEC630; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;}
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover;max-height: 450px; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #FEC630; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
    opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
    .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
    }
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/*[ MEDIA QUERIES ]
///////////////////////////////////////////////////////////
*/
@media (max-width:850px)
{
    .login-card{
        width: 50% !important;
    }
}
@media (max-width:400px)
{
    .login-card{
        margin: 10px;
        width: 100% !important;
    }
}
