
/* [FONT]
/////////////////////////////////////////////////////

*/
/*[ FONT ]
///////////////////////////////////////////////////////////
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Courgette-Regular;
  src: url('../fonts/courgette/Courgette-Regular.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../fonts/notosans/NotoSans-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:linear-gradient(to right, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/restaurant-seamless-pattern.jpg');
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat-Regular, sans-serif;
}
/*General styles*/
h1{font-size: 66px; font-weight: 600; line-height: 80px;}
h2{font-size: 48px; margin-bottom: 30px;}
h5{margin-bottom: 0px;}
.topmargin-lg{margin-top: 60px !important;}
.topmargin-sm{margin-top: 30px;}
.topmargin-xs{margin-top: 15px;}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea{
    border-color: #333333;
    height: 50px;
    border-radius: 0% !important;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea{
    border-color: #ce9909;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FEC630;
}
p {
	font-family: Montserrat;
    font-weight: 400;
}
.bg-primary{
    background-color: #FEC630;
}
.btn2{
    background-color: #f3f3f3 !important;
    color: #222222;
    border-radius: 10px;
    opacity: 0.9;
}
.btn2:hover {
    background-color: #FEC630 !important;
    color: white;
}

.general-content{
    background-color: #f3f3f3 ;
}
.title-content{
    background-color: #FEC630;
    color: #f3f3f3;
}
.btn-principal{
    background-color: #FEC630 !important;
    color:#333333 !important;
    transition: all 300ms;
}
.btn-principal:hover{
    background-color: #d1aa40 !important;
    color:#ffffff !important;
}
.btn-principal:focus,
.btn-principal:active {
    background-color: #c7a64c !important;
    border-color: #ce9909 !important; /*set the color you want here*/
}
.link-primario{
    color: #ce9909 !important;
}
.ab-c-m {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#pagination{
    border-radius: 0%;
}
#pagination .page-link{
    color: #333333;
}
#pagination .page-item.active .page-link{
    background-color: #FEC630;
    border-color: #FEC630;
}

/*[ Nav Styles ]
///////////////////////////////////////////////////////////
*/
.navbar{
    border-radius: 0%;
    border-top: 10px solid #333333;
    height: 100px;
    background: rgba(234, 179, 16, 0.9);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar  a {
    color: #3d3d3d !important;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
}
.header-fixed .navbar > li > a {
    color: #222222;
  }
.navbar  a:hover {
    color: #f3f3f3 !important;
    transition: all 300ms;
}
.navbar-logo{
    background-color: #FEC630;
}
.dropdown-menu{
    border-radius: 0% !important;
}
.dropdown-content{
    color: #333333 !important;
}
.dropdown-content .dropdown-item{
    color: #333333 !important;
    transition: all 300ms;
}
.dropdown-content:hover{
    background-color: #333333 !important;

}
.dropdown-content:hover .dropdown-item{
    color: #f3f3f3 !important;
    background-color: #333333 !important;
    transition: all 300ms;
}
.dropdown-content-main{
    background-color: #FEC630 !important;
}
.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

/*[ Slider ]
///////////////////////////////////////////////////////////
*/
#presentation{
    background: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/IMG-PRESENTACION.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 500px;
    color: #ffff;
}
#presentation p{
    color:#ffff;
}
.content-center{
    max-width: 800px;
    margin: 0px auto 60px auto;
    text-align: center;
}
.lema{
    font-size: 48px;
    font-style: italic;
}
.logo-styles{
    font-family: 'Courgette';
}
/*[PRESENTATION]
////////////////////////////////////////////////////////////////////////*/

.tit2{
    color: #FEC630 !important;
}
/*[INTRO]
//////////////////////////////////////////////////////////////////////*/
.title_logo{
    font-family: Courgette, sans-serif !important;
}
.header-intro {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.hov-img-zoom {
    display: block;
    overflow: hidden;
}

/*[ Login Section ]
///////////////////////////////////////////////////////////
*/

.image-cover-height{
    height: 100vh !important;
}
.login-content{
    background-color: #f3f3f3;
    height: 100vh !important;
}
.login-card{
    top: 15%;
    /*height: 100%;*/
}
.header-login{
    background-color: #333333;
    color: #f3f3f3;
}

/*[ Product Section ]
///////////////////////////////////////////////////////////
*/
.product-container{
    box-shadow: 1px 1px 1px 1px #333333;
}
.select-section{
    padding: 20px;
    background-color: #333333;
    color: #f3f3f3;
}
.btn-bebidas{
    display: block;
    margin-top: -21px;
}
.badge-precio, .badge-categoria{
    font-size: 20px;
}
.product-card{
    transition: all 300ms;
}
.product-card:hover{
    transform: scale(1.1, 1.1);
}
.cover_img_product{
    overflow: hidden;
    max-height: 94px;
}
.bg-title-page {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
/*[ DRINK SECTION ]
///////////////////////////////////////////////////////////
*/
.drink-card{
    max-height: 240px;
}

/*[ PROFILE SECTION ]
///////////////////////////////////////////////////////////
*/
.profile-group{
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 400px;
}
.card-profile{
    border-radius: 20px;
}
.btn-group-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*[ MEDIA QUERIES ]
///////////////////////////////////////////////////////////
*/
@media (max-width:850px)
{
    .login-card{
        width: 50% !important;
    }
}
@media (max-width:400px)
{
    .login-card{
        margin: 10px;
        width: 100% !important;
    }
}
